.col-lg-6 h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #104DE5;
}

.col-lg-6 h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin: 21px 0px 36px;
    color: #262A4E;
}

.col-lg-6 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    text-indent: 30px;
    color: #646464;
}

.col-lg-6 img {
    display: block;
    margin-left: auto;
    width: 600px;
    height: 400px;
}

.col-lg-6 .navbutton {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.col-lg-6 .navbutton button {
    margin: 0px 13px;
    color: white;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background-color: #104DE5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.col-lg-6 .navbutton button.disabled {
    background-color: #e0e0e0;
}

.disabled {
    background-color: #e0e0e0;
}

.icons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.ng-fa-icon {
    padding: 0px 8px;
}

