* {
    text-decoration: none;
}

.mainProjectsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainProjects {
    position: relative;
    width: 33%;
    margin: 20px 0px;
    border-radius: 0px 0px 70px 0px;
    -webkit-border-radius: 0px 0px 70px 0px;
    -moz-border-radius: 0px 0px 70px 0px;
    -ms-border-radius: 0px 0px 70px 0px;
    -o-border-radius: 0px 0px 70px 0px;
}

.mainProjects img {
    filter: brightness(0.5);
    display: block;
    -webkit-filter: brightness(0.5);
    border-radius: 0px 0px 70px 0px;
    -webkit-border-radius: 0px 0px 70px 0px;
    -moz-border-radius: 0px 0px 70px 0px;
    -ms-border-radius: 0px 0px 70px 0px;
    -o-border-radius: 0px 0px 70px 0px;
}

.mainProjectsList p {
    position: absolute;
    width: 310px;
    top: 42%;
    left: 10%;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}