<div class="mainOther container">
    <a class="blueDiv">
        <div class="row">
            <div class="col-lg-6"><fa-icon style="font-size: 100px; color: white;"
                    [icon]="faHandHoldingHeart"></fa-icon></div>
            <div class="col-lg-6">
                <p id="first">1000+</p>
                <p id="second">KÖNÜLLÜ</p>
            </div>
        </div>
    </a>
    <a class="blueDiv">
        <div class="row">
            <div class="col-lg-6"><fa-icon style="font-size: 100px; color: white;" [icon]="faCalendarDay"></fa-icon>
            </div>
            <div class="col-lg-6">
                <p id="first">100+</p>
                <p id="second">LAYİHƏ</p>
            </div>
        </div>
    </a>
</div>