<div class="commonComponent container">
    <div class="row">
        <div class="col-lg-5">
            <h5>MEDIA</h5>
            <h1>ASAN Könüllüləri Mediada!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <p>et
                dolore magna aliqua. Ut enim ad minim veniam, quis</p><p>nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p><p>Duis aute irure dolor in reprehenderit</p>
            <button class="defaultButton">Ətraflı oxu</button>
        </div>
        <div class="col-lg-7">

            <div style="position : relative">
                <a class="mediaIcons" id="facebookbtn" href={}><img width='34.46px'
                        src="https://s3-alpha-sig.figma.com/img/3198/f8a0/02c4d4aefece1619c8d221f138b7a564?Expires=1674432000&Signature=j0jr2cxwm5Q-bbw4Cp87-plbUvhx0bubiF5jciu0uswkSVvMFPR4iP~jDiZPbycwotxgPFu2t182Q4oQb37KGeiFt2wV6J4zU~rkanIL~rU14RyyoouvMPPUqH6sE-P5-tWh7V-f9yAH~SwhxZMFwLq2pA0xwGpemHg0sa20gLOdCl0oGqHp4InkCWlfSNLn3DUoSWY0KuakoZpah7hH~c4QZ2Vo34DPvmNZ6M3Hp7vUnWnDoTFBDMO7d0xri1vHSNEPEByalyFCaNgMeQG-gMOZozpaEnfdlY7X1u54LDBZSeOansYLfPqigKd95HHFSBW7zNh0t2p9RM-icJmRvA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                        alt='/' /></a>
                <a class="mediaIcons guardian" id="businessbtn" href='/'>
                    <div>BUSINESS<br />INSIDER</div>
                </a>
                <a class="mediaIcons guardian" id="forbesbtn" href='/'>
                    <div>Forbes</div>
                </a>
                <a class="mediaIcons guardian" id="bbcbtn" href='/'>
                    <div>BBC</div>
                </a>
                <a class="mediaIcons guardian" id="guardianbtn" href='/'>
                    <div><i>The</i><b>Guardian</b></div>
                </a>
                <a class="mediaIcons" id="linkedinbtn" href='/'><img width='26.35px'
                        src='https://s3-alpha-sig.figma.com/img/cecc/84f4/51db9c6baa4fd85a3cabbb06de2d402c?Expires=1674432000&Signature=qe4NAEYaeMvVTidKWcj1ELWDPkutayfFFj8Ic7B~i-ISWF7ZkhfvFDul85-mv7oONxhwgr2Xbr9f~JgBmRzsnZCuYSAcu1F1mbjxmD~kksKmt~W67efj5sxVXswOuMvBRqX4ze38rzBs6pHN1mJJ~Ph3iooAEz1nYnJ6iOzm6uf2E4~3x4yqO3HISIcH3bjBEwH7NXt6v1lgjDkq09pcCvZVxx4CF-WHtXtdrNgY-Vtd8Cij2vAlpqP7TzwkMStW-Ib3qQUeEIlaL5cyyfETXoQf0tf4l3JmzDttA3d9tASxjCNhDieDq67ptf9VIQsfmB0LooOsLZ~fFo-y2IkCrw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'
                        alt='/' /></a>
                <a class="mediaIcons" id="bingbtn" href='/'><img width='34.46px'
                        src='https://s3-alpha-sig.figma.com/img/2206/1633/73f0d005512d8961a458306a9ed4003d?Expires=1674432000&Signature=KbmiHGjBIqkSWp5ISABZ8WrH7efvUsF~fc2UYo29BIhACKj8sHBFuH~bQtPUXMlQujIc0QcVGBniBS9o5Mfb6eCqk~nOE5MVM4e81g-mxIrKe8z1v2LnTwJ~5P9vwjnTisQQnRiUkawh1qCd~yUXCmGoqC0Y3oIjdIFqOURqlB9x0EjKWf3ImqOruW-gw4PFa9pqTjjm9jpi1KUIEMSQOcEHubnJLBwUiIJPwdSZEGheqKOQS76QkEJXDGcmDk-PNABxG9-4q3AiUnuY0CmviCtm8ahW86dETUUCgjFVJbPEY2tMgomAxtLnckygpmPaYhqmxdGdVmQcSqkwHd-0lQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'
                        alt='/' /></a>
                <a class="mediaIcons" id='youtubebtn' href='/'><img width='49.66px'
                        src='https://s3-alpha-sig.figma.com/img/4998/8b6b/7db7855de4ff352c5d2f9e561a7cfc3b?Expires=1674432000&Signature=WaR~TWaUOXaBJgQaPkBrn5~s4~puN7y0HnATH~iL0OXrM3RMe4t9ctDJ6n88Eh-1BdGuXYpz9NwQibAVGwkaklqPkRHgfo8Bnop~PvmoALk0qDkndq~oOT2jFOTWX53o1Xq9udThCx7CSW0W4bgfQjkGUBd6Rn33akRWoHoBvm-5tR0qn0CQPm1HtCnKPRHFSBGQkKdKaQmOQzrMLP0mxJtmtiDemUBW6jGkcOhtk2aCzcMsqwijzzIzIZX9dyfqNHzNmjY3Sf9MAFn3r86GgfQ54apC5amyKqV7RaPStouuxkcqokKMBUZV~fCyBpYdJcKuPId3oZiDyz6NII18hA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'
                        alt='/' /></a>
            </div>
        </div>
    </div>
</div>