.navbarComponent {
    height: 138px;
    background-color: #104de5;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navbarComponent2 {    
    height: 138px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
}