<div class="commonComponent container">
    <div class="row justify-content-between">
        <div class="col-lg-3">
            <h2>ƏLAQƏ</h2>

            <div class="info">
                <div class="my-5">
                    <fa-icon [icon]="faLocationDot"></fa-icon>
                    <p>Bakı, Azərbaycan, AZ 1078, Akademik Həsən Əliyev 36</p>
                </div>
                <div class="my-5">
                    <fa-icon [icon]="faPhone"></fa-icon>
                    <p>(+994 12) 444 74 75</p>
                </div>
                <div class="my-5">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <p>info@asanyouth.az</p>
                </div>
            </div>

            <social-media-group [style1]="style3"></social-media-group>

        </div>
        <div class="col-lg-8">
            <div class="writeUs">
                <h1>Bizə yazın</h1>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="name">Ad Soyad</label>
                            <input type="text" class="form-control" placeholder="Azər Baycanlı">
                        </div>
                        <div class="form-group mail">
                            <label for="gmail">E-poçt ünvanınız</label>
                            <input type="text" class="form-control" placeholder="Azer.baijanli@asan.gov.az">
                        </div>

                        <div class="mt-auto">
                            <button class="defaultButton">GÖNDƏR</button>
                        </div>


                    </div>
                    <div class="col-lg-7">
                        <div class="form-group">
                            <label for="letter" class="form-label">Məktubun mətni</label>
                            <textarea name="letter" class="form-control" id="" cols="30" rows="10"
                                placeholder="Azərbaycan Respublikasının Prezidenti yanında Vətəndaşlara Xidmət və Sosial İnnovasiyalar üzrə Dövlət Agentliyinin sədri Ülvi Mehdiyev “500 Startups” şirkətinin regional direktoru Arianne Dilts ilə görüşüb. Azərbaycan Respublikasının Prezidenti yanında Vətəndaşlara Xidmət və Sosial İnnovasiyalar üzrə Dövlət Agentliyinin sədri Ülvi Mehdiyev “500 Startups” şirkətinin regional direktoru Arianne Dilts ilə görüşüb.Azərbaycan Respublikasının Prezidenti yanında Vətəndaşlara Xidmət və Sosial İnnovasiyalar üzrə Dövlət Agentliyinin sədri Ülvi Mehdiyev “500 Startups” şirkətinin regional direktoru Arianne Dilts ilə görüşüb.Azərbaycan Respublikasının Prezidenti yanında Vətəndaşlara Xidmət və Sosial İnnovasiyalar üzrə Dövlət Agentliyinin sədri Ülvi Mehdiyev “500 Startups” şirkətinin regional direktoru Arianne Dilts ilə görüşüb. "></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>