<div class="socialMediaGroup">
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#"><fa-icon style="color: white; background-color: #104de5" [icon]="faSquareFacebook"></fa-icon></a></li>
        <li class="list-inline-item"><a href="#"><fa-icon style="color: white; background-color: #104de5" [icon]="faSquareInstagram"></fa-icon></a></li>
        <li class="list-inline-item"><a href="#"><fa-icon style="color: white; background-color: #104de5" [icon]="faSquareTwitter"></fa-icon></a></li>
        <li class="list-inline-item"><a href="#"><fa-icon style="color: white; background-color: #104de5" [icon]="faSquareYoutube"></fa-icon></a></li>
    </ul>
</div>