<div class="mainOther container">
    <div class="row">
        <div class="col-lg-6">
            <img src="https://s3-alpha-sig.figma.com/img/49e5/9a89/958ff39f7c07b0da72572d24722dc9a4?Expires=1674432000&Signature=ZPN7EuOMg5o5utwBET1bysIk8VKR3kHinq6XHG-2YStENQoDZ4F2Qjj4SPXhObBPk3XBpWrn69LI8kfQtJYz-Qp9sIDY-mGBSX-bt53Zy6xSebMhB8c09g6XmQ2JnghtfnahHFsZEX6FrkD4pxJM~-X5aguJ55NBw5pWytgJzQoxw9gPnj2-wyizNvT~fVm7zrkI0um5osLXHhYVa164V1GkscD2f84O90U3NAQBW-Oo8P3vdEiqp3xBpfPIC3gBa3hCLy-Bf-jKjJzdKo2933Pa83fiDMrMVOqr-gGfvdZz-vyr17-92w3w~q34AmcETLhykpS4f8j-GxPgpIGlVw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="img" width="587px" height="454px">
        </div>
        <div class="col-lg-6">
            <h5>AKT HAQQINDA</h5>
            <h1>Könüllü sıralarımıza
                <b>SƏN</b> də qatıl!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderitveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
            <button class="defaultButton">Ətraflı oxu</button>
        </div>
    </div>
</div>