<div class="mainOther2 container">
    <h5>KEÇİDLƏR</h5>
    <h1>Birlikdə daha <b>ASAN</b>!</h1>
    <div class="row">
        <div class="col-lg-6">
            <a href="/"><img
                    src="https://s3-alpha-sig.figma.com/img/49e5/9a89/958ff39f7c07b0da72572d24722dc9a4?Expires=1674432000&Signature=ZPN7EuOMg5o5utwBET1bysIk8VKR3kHinq6XHG-2YStENQoDZ4F2Qjj4SPXhObBPk3XBpWrn69LI8kfQtJYz-Qp9sIDY-mGBSX-bt53Zy6xSebMhB8c09g6XmQ2JnghtfnahHFsZEX6FrkD4pxJM~-X5aguJ55NBw5pWytgJzQoxw9gPnj2-wyizNvT~fVm7zrkI0um5osLXHhYVa164V1GkscD2f84O90U3NAQBW-Oo8P3vdEiqp3xBpfPIC3gBa3hCLy-Bf-jKjJzdKo2933Pa83fiDMrMVOqr-gGfvdZz-vyr17-92w3w~q34AmcETLhykpS4f8j-GxPgpIGlVw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                    alt="img">
                <p>ASAN MƏKTUB</p>
            </a>
            <a href="/"><img
                    src="https://s3-alpha-sig.figma.com/img/c2af/171f/8a95d08524408b5161b02e3b1a0eb4a5?Expires=1674432000&Signature=bu2Ll8JMriFBU77cOV~IEXI54AUY14TnVKWS0YIVNaTyE3zPrTbtEhvMF2Ly~obHZzVpSzh7ZclEBYrYS7fK~xHvzrmlfvFuUml7AZStb5ciTdHjMkhh3NXHMdxZ2CoU5QHpYR3fF5aHMCybOwpQnWLXHoZbk4Lanp0PtEnF5h9~Q0b~uHdR48M5sUh87Sn6GuhNqxsVkwetWBZYOXuyjdaxYZ0iX0cxYsbN88wuUqcD4qPbCCw0QBnz9Gu-7IB9biotVvLV~N6p6xmQjxi~-g0WXtUuthX2pX06NdFmc8YZnncTt--Y8ZgWF0StuOPJdFvEvQHQeeMyJ8WBePJEoA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                    alt="img">
                <p>ƏSGƏRƏ MƏKTUB</p>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="/"><img
                    src="https://s3-alpha-sig.figma.com/img/49e5/9a89/958ff39f7c07b0da72572d24722dc9a4?Expires=1674432000&Signature=ZPN7EuOMg5o5utwBET1bysIk8VKR3kHinq6XHG-2YStENQoDZ4F2Qjj4SPXhObBPk3XBpWrn69LI8kfQtJYz-Qp9sIDY-mGBSX-bt53Zy6xSebMhB8c09g6XmQ2JnghtfnahHFsZEX6FrkD4pxJM~-X5aguJ55NBw5pWytgJzQoxw9gPnj2-wyizNvT~fVm7zrkI0um5osLXHhYVa164V1GkscD2f84O90U3NAQBW-Oo8P3vdEiqp3xBpfPIC3gBa3hCLy-Bf-jKjJzdKo2933Pa83fiDMrMVOqr-gGfvdZz-vyr17-92w3w~q34AmcETLhykpS4f8j-GxPgpIGlVw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                    alt="img">
                <p>ASAN SCHOOL</p>
            </a>
            <a href="/"><img
                    src="https://s3-alpha-sig.figma.com/img/c2af/171f/8a95d08524408b5161b02e3b1a0eb4a5?Expires=1674432000&Signature=bu2Ll8JMriFBU77cOV~IEXI54AUY14TnVKWS0YIVNaTyE3zPrTbtEhvMF2Ly~obHZzVpSzh7ZclEBYrYS7fK~xHvzrmlfvFuUml7AZStb5ciTdHjMkhh3NXHMdxZ2CoU5QHpYR3fF5aHMCybOwpQnWLXHoZbk4Lanp0PtEnF5h9~Q0b~uHdR48M5sUh87Sn6GuhNqxsVkwetWBZYOXuyjdaxYZ0iX0cxYsbN88wuUqcD4qPbCCw0QBnz9Gu-7IB9biotVvLV~N6p6xmQjxi~-g0WXtUuthX2pX06NdFmc8YZnncTt--Y8ZgWF0StuOPJdFvEvQHQeeMyJ8WBePJEoA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                    alt="img">
                <p>ASAN KADR</p>
            </a>
        </div>
    </div>
</div>